
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TINYSTEPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link" href="#">Все репетиторы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Заявка на подбор</a>
          </li>

        </ul>
      </div>

      <span class="navbar-text">
          ☺️
      </span>


    </nav>


    <h2 class="h1 text-center w-50 mx-auto mt-4 py-5"><strong>Найдите идеального репетитора английского, занимайтесь онлайн</strong></h2>

    <div class="text-center mb-5">
        <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary">⛱Для путешествий</button>
          <button type="button" class="btn btn-outline-secondary">🏫 Для школы</button>
          <button type="button" class="btn btn-outline-secondary">🏢 Для работы</button>
          <button type="button" class="btn btn-outline-secondary">🚜 Для переезда</button>
        </div>
    </div>

    <h5 class="text-center mb-5">Свободны прямо сейчас</h5>

    <div class="w-75 m-auto">


        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="../static/pict 1.png" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: 4.8 Ставка: 1200 / час</p>
                        <h5>Morris Simmmons</h5>
                        <p>Репетитор американского английского языка. Структурированная система обучения. Всем привет! Я предпочитаю называть себя «тренером» английского языка. Мои занятия похожи на тренировки</p>
                        <a href="" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="../static/pict 2.png" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: 4.8 Ставка: 900 / час</p>
                        <h5>Julie Nguyen</h5>
                        <p>Сертифицированный репетитор IELTS. Являюсь сертифицировнным CELTA преподавателем английского языка, проживающим за границей. Опыт работы в сфере преподавания - 9 лет.</p>
                        <a href="" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="../static/pict 3.png" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: 4.8 Ставка: 1300 / час</p>
                        <h5>Wendy Edwards</h5>
                        <p>Молодой и современный репетитор и переводчик с четырёхлетним опытом работы репетиторства Индивидуальные занятия по скайпу, которые ведёт молодой специалист отделения "Перевода </p>
                        <a href="" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

</body>
</html>