<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>TINYSTEPS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TINYSTEPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Все репетиторы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Заявка на подбор</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text d-sm-none d-lg-block">
        ☺️
      </span>
    </nav>
  </header>
  <main class="container mt-3 mb-5">
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
    <div class="text-center mb-5">
      <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
        <a href="goal.html" class="btn btn-outline-secondary">⛱Для путешествий</a>
        <a href="goal.html" class="btn btn-outline-secondary">🏫 Для школы</a>
        <a href="goal.html" class="btn btn-outline-secondary">🏢 Для работы</a>
        <a href="goal.html" class="btn btn-outline-secondary">🚜 Для переезда</a>
      </div>
    </div>
    <h2 class="h5 text-center mb-5">Наши преподаватели</h2>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="../static/pict 1.png" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: 4.8 Ставка: 1200 / час</p>
                <h2 class="h4">Morris Simmmons</h2>
                <p>Репетитор американского английского языка. Структурированная система обучения. Всем привет! Я предпочитаю называть себя «тренером» английского языка. Мои занятия похожи на тренировки</p>
                <a href="profile.html" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="../static/pict 2.png" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: 4.8 Ставка: 900 / час</p>
                <h2 class="h4">Julie Nguyen</h2>
                <p>Сертифицированный репетитор IELTS. Являюсь сертифицировнным CELTA преподавателем английского языка, проживающим за границей. Опыт работы в сфере преподавания - 9 лет.</p>
                <a href="#" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="../static/pict 3.png" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: 4.8 Ставка: 1300 / час</p>
                <h2 class="h4">Wendy Edwards</h2>
                <p>Молодой и современный репетитор и переводчик с четырёхлетним опытом работы репетиторства Индивидуальные занятия по скайпу, которые ведёт молодой специалист отделения "Перевода </p>
                <a href="#" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h2 class="text-center mt-5 mb-3">Не нашли своего репетитора?</h2>
    <p class="text-center mb-4">Расскажите, кто вам нужен и мы подберем его сами</p>
    <div class="text-center pb-5">
        <a href="" class="btn btn-primary">Заказать подбор</a>
    </div>



  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>