
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">TINYSTEPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link" href="#">Все репетиторы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Заявка на подбор</a>
          </li>

        </ul>
      </div>

      <span class="navbar-text">
          ☺️
      </span>


    </nav>


     <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="" class="card mb-3" >


                  <div class="card-body text-center pt-5">
                    <h3 class="card-title mt-4 mb-2">Подбор преподавателя</h3>
                    <p class="px-5">Напишите, чего вам нужно  и мы подберем отличных ребят</p>
                  </div>

                   <hr/>

                   <div class="card-body mx-3">

                       <div class="row">
                           <div class="col">

                               <p>Какая цель занятий?</p>

                               <div class="form-check ">
                                <input type="radio" class="form-check-input" name="goal" value="travel"> Для путешествий
                               </div>
                               <div class="form-check ">
                                <input type="radio" class="form-check-input" name="goal" value="learn"> Для школы
                               </div>
                               <div class="form-check ">
                                <input type="radio" class="form-check-input" name="goal" value="work"> Для работы
                               </div>
                               <div class="form-check ">
                                <input type="radio" class="form-check-input"name="goal" value="move"> Для переезда
                               </div>

                           </div>

                           <div class="col">

                               <p>Сколько времени есть?</p>

                               <div class="form-check ">
                                <input type="radio" class="form-check-input" name="time" value="1-2"> 1-2 часа в неделю
                               </div>
                               <div class="form-check ">
                                <input type="radio"class="form-check-input" name="time" value="3-5"> 3-5 часов в неделю
                               </div>
                               <div class="form-check ">
                                <input type="radio" class="form-check-input"name="time" value="5-7"> 5-7 часов в неделю
                               </div>
                               <div class="form-check ">
                                <input type="radio" class="form-check-input"name="time" value="7-10"> 7-10 часов в неделю
                               </div>


                           </div>
                       </div>
                  </div>

                   <hr>

                   <div class="card-body mx-3">

                       <p class="mb-1 mt-2">Вас зовут</p>
                       <input class="form-control" type="text" placeholder="">

                       <p class="mb-1 mt-2">Ваш телефон</p>
                       <input class="form-control" type="text" placeholder="">

                       <input type="submit" class="btn btn-primary mt-4" value="Найдите мне преподавателя">

                   </div>

                </form>

        </div>
     </div>


</div>

</body>
</html>