
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TINYSTEPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link" href="#">Все репетиторы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Заявка на подбор</a>
          </li>

        </ul>
      </div>

      <span class="navbar-text">
          ☺️
      </span>


    </nav>


        <div class="card my-5  mx-auto ">

            <div class="card-body m-4">
                <div class="row">
                    <div class="col-5"><img src="../static/pict 1.png" class="img-fluid"></div>
                    <div class="col-7">
                        <h2>Morris Simmmons</h2>
                        <p><span class="badge badge-secondary mr-2">Для путешествий </span>Рейтинг: 4.8 Ставка: 1200 / час</p>
                        <p >Native English language teacherHi Everyone! My name is Richard; I am a native English speaker. I was born in South Africa, Spent 12 years living in the UK and am now living in Spain. I have a degree in food science, a TEFL certificate and a level 3 in training and education. I worked in cheese manufacturing for many years and have good knowledge of dairy production and food safety topics.
                            <br> <br>
                        <a href="" class="btn btn-outline-secondary btn-sm ">Отправить сообщение</a>
                    </div>
                </div>
            </div>

            <div class="card-body  m-4">
                <h5 class="mb-4">Записаться на пробный урок</h5>
                <table class="table">

                    <tr>
                        <th>#</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                    
                    <tr>
                        <td><span class="btn">8:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                    <tr>
                        <td><span class="btn">10:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">10:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                   <tr>
                        <td><span class="btn">12:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">12:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                   <tr>
                        <td><span class="btn">14:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">14:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                   <tr>
                        <td><span class="btn">16:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">16:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>

                </table>
            </div>



        </div>

    </div>


</div>

</body>
</html>