<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik CRM</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <div class="container" style="margin-top:50px">

        <div class="row">

            <div class="col-md-6">

                <h3>Отправить письмо</h3>

                <br>

                <form action="" method="POST"></form>

                <p>Кому: </p>

                <input type="text" class="form-control">

                <br>

                <p>Тема:</p>

                <input type="text" class="form-control">

                <br>

                <p>Текст письма:</p>

                <textarea name=""  class="form-control"></textarea>

                <br>

                <input type="submit" class="btn btn-primary" value = "Отправить"/>

            </div>
        </div>

    </div>
</body>