<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Cookooha!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body class="d-flex flex-column h-100">
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><b>Cookooha!</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end text-right" id="navbarNav">
        <p class="navbar-text text-body col-4 m-0">
          dasha, в избранном <a href="#" style="text-decoration: underline;">5 рецептов!</a>
        </p>
        <ul class="navbar-nav col-1">
          <li class="nav-item active">
            <a class="nav-link" href="#">Выйти</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3 mb-5">

    <section class="jumbotron text-center">
      <img src="../static/icon-banner.svg" alt="" width="156">
      <h1 class="h1 mt-4 mb-3 font-weight-bold">Все, что в доме есть<br>Нужно быстро съесть!</h1>
      <p>Инновационный подбор рецептов Cookooha Tech</p>
      <a href="#" class="btn btn-warning rounded-pill px-4"><b>Поехали, кукуха!</b></a>
    </section>

    <section class="py-4 mb-5">
      <h2 class="h3 pb-4 mb-3 text-center font-weight-bold">Как работает Кукуха?</h2>
      <div class="row align-items-stretch">
        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <div class="card-body">
              <div style="height: 80px;line-height: 80px;">
                <img src="../static/icon-fridge.svg" alt="" width="72" class="align-bottom">
              </div>
              <p class="pt-3 card-text">Отмечаете,  что в холодильнике</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <div class="card-body">
              <div style="height: 80px;line-height: 80px;">
                <img src="../static/icon-list.svg" alt="" width="59" class="align-bottom">
              </div>
              <p class="pt-3 card-text">Получаете список <br>рецептов</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <div class="card-body">
              <div style="height: 80px;line-height: 80px;">
                <img src="../static/icon-flame.svg" alt="" width="62" class="align-bottom">
              </div>
              <p class="pt-3 card-text">Готовите блюдо по инструкции</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <div class="card-body">
              <div style="height: 80px;line-height: 80px;">
                <img src="../static/icon-smile.svg" alt="" width="75"class="align-bottom" >
              </div>
              <p class="pt-3 card-text">Что получилось,  то получилось!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mx-auto" style="width: 85%;">
      <section class="text-center card">
        <h2 class="h3 py-5 mb-3 font-weight-bold">Самые популярные <br>рецепты</h2>
        <div class="row">
          <div class="col-lg-4 col-sm-6 border-right pr-0">
            <div class="border-top py-4 px-5 h-100">
              <a href="#" class="d-block pb-3">
                <img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle">
              </a>
              <a href="#">Паста "Карбонара"</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 border-right px-0">
            <div class="border-top py-4 px-5 h-100">
              <a href="#" class="d-block pb-3">
                <img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle">
              </a>
              <a href="#">Жаркое с картофелем, <br>по-домашнему</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 pl-0">
            <div class="border-top py-4 px-5 h-100">
              <a href="#" class="d-block pb-3">
                <img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle">
              </a>
              <a href="#">Рисовые биточки <br>простые</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 border-right pr-0">
            <div class="border-top py-4 px-5 h-100">
              <a href="#" class="d-block pb-3">
                <img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle">
              </a>
              <a href="#">Гречка с курицей <br>в духовке</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 border-right px-0">
            <div class="border-top py-4 px-5 h-100">
              <a href="#" class="d-block pb-3">
                <img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle">
              </a>
              <a href="#">Тефтели с рисом <br>"Ёжики"</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 pl-0">
            <div class="border-top py-4 px-5 h-100">
              <a href="#" class="d-block pb-3">
                <img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle">
              </a>
              <a href="#">Плов, который всегда получается</a>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <footer class="footer container">
    <div class="bg-light mt-auto py-3 px-2 text-center">
      <span class="text-body">Cookooha 2020</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>