<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Cookooha!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .row .btn.rounded-pill {
      padding: .25rem .75rem;
    }
  </style>
</head>

<body class="d-flex flex-column h-100">
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><b>Cookooha!</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end text-right" id="navbarNav">
        <p class="navbar-text text-body col-4 m-0">
          dasha, в избранном <a href="#" style="text-decoration: underline;">5 рецептов!</a>
        </p>
        <ul class="navbar-nav col-1">
          <li class="nav-item active">
            <a class="nav-link" href="#">Выйти</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3 mb-5">

    <section class="mx-auto pt-5 pb-3" style="width: 85%;">
      <div class="col-10 offset-1 text-center">
        <h1 class="h1 font-weight-bold pb-4">Куриный суп  <br>с вермишелью</h1>
        <div class="row">
          <div class="col">
            <span class="btn btn-outline-secondary rounded-pill px-4">6 порций по 240 ККал</span>
          </div>
          <div class="col">
            <span class="btn btn-outline-secondary rounded-pill px-4">45 мин</span>
          </div>
          <div class="col">
            <a href="#" class="btn btn-outline-danger rounded-pill px-4">Добавить в избранное</a>
          </div>
        </div>
        <h2 class="h5 py-5 px-5 font-weight-normal" style="line-height: 1.5;">Куриный суп с&nbsp;вермишелью&nbsp;&mdash; первое блюдо, которое с&nbsp;удовольствием съедят и&nbsp;дети, и&nbsp;взрослые. Рецепт супа из&nbsp;куриного филе очень прост.</h2>
      </div>

      <div class="row pt-4">
        <div class="col-5">
          <h3 class="h5 pb-3"><b>Продукты</b></h3>
          <ul class="pl-0" style="list-style: none;">
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Филе куриное</span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Картофель</span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Морковь</span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Лук репчатый </span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/close.svg" alt="" width="16">
              </div>
              <span class="pl-2">Вермишель</span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/close.svg" alt="" width="16">
              </div>
              <span class="pl-2">Лист лавровый </span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Соль </span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Масло растительное </span>
            </li>
            <li class="mb-2 d-flex">
              <div style="width: 25px;">
                <img src="../static/check.svg" alt="" width="19">
              </div>
              <span class="pl-2">Вода </span>
            </li>
          </ul>
        </div>
        <div class="col-7 pr-5">
          <h3 class="h5 pb-3"><b>Рецепт</b></h3>
          <p>Куриное филе вымойте, обсушите, срежьте с филе пленки и нарежьте его крупно.</p>
          <p>Выложите курицу в кастрюлю, залейте холодной водой, добавьте лавровые листья. Доведите до кипения и снимите пену. Варите куриное филе около 15 минут, после чего выложите кусочки филе на тарелку.</p>
          <p>Морковь натрите на крупной терке.</p>
          <p>Лук нарежьте мелкими кубиками.</p>
          <p>Разогрейте на сковороде растительное масло и обжарьте на нем нарезанный лук примерно 2-3 минуты.</p>
          <p>Добавьте к луку натертую морковь, перемешайте и обжаривайте лук и морковь еще 2 минуты.</p>
          <p>Картофель нарежьте средними кубиками или брусочками. Куриное филе нарежьте кусочками.</p>
          <p>Добавьте в кастрюлю с бульоном картофель и варите примерно 10 минут.</p>
          <p>После этого добавьте приготовленную зажарку.</p>
          <p>Всыпьте в суп с курицей вермишель, аккуратно перемешайте, добавив соль и перец по вкусу.</p>
          <p>Варите куриный суп с вермишелью 5-7 минут. По желанию можно добавить в суп промытую измельченную зелень петрушки.</p>
        </div>
      </div>

      <div class="mt-5 text-center">
        <a href="#" class="btn btn-warning rounded-pill px-4"><b>Другие подходящие блюда</b></a>
      </div>
    </section>

  </main>
  <footer class="footer container">
    <div class="bg-light mt-auto py-3 px-2 text-center">
      <span class="text-body">Cookooha 2020</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>