<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Создать резюме | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4 font-weight-bold" href="#">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Вакансии</a>
          </li>

        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Иван Топорыжкин
              </button>
              <div class="dropdown-menu dropdown-menu-right mt-3">
                <a href="#" class="dropdown-item py-2">Профиль</a>
                <a href="#" class="dropdown-item py-2">Резюме</a>
                <a href="#" class="dropdown-item py-2">Компания</a>
                <a href="#" class="dropdown-item py-2">Выйти</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
        <form action="/echo" class="" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userName">Имя</label>
                <input class="form-control" type="text" value="Иван" id="userName">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userSurname">Фамилия</label>
                <input class="form-control" type="text" value="Топорыжкин" id="userSurname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userReady">Готовность к работе</label>
                <select class="custom-select mr-sm-2" id="userReady">
                  <option selected>Ищу работу</option>
                  <option value="1">Открыть к предложениям</option>
                  <option value="2">Не ищу работу</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userPortfolio">Ожидаемое вознаграждение</label>
                <input class="form-control" type="text" value="120 000" id="userPortfolio">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                <select class="custom-select mr-sm-2" id="userSpecialization">
                  <option selected>Backend разработка</option>
                  <option value="1">Frontend разработка</option>
                  <option value="2">Project manager</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userQualification">Квалификация</label>
                <select class="custom-select mr-sm-2" id="userQualification">
                  <option selected>Средний (middle)</option>
                  <option value="1">Младший (junior)</option>
                  <option value="2">Старший (senior)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="userEducation">Образование</label>
            <textarea class="form-control text-uppercase" rows="4" id="userEducation" style="color:#000;">АСТРАХАНСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ ИНСТИТУТ РЫБНОГО ХОЗЯЙСТВА, БИОЛОГИИ И ПРИРОДОПОЛЬЗОВАНИЯ, БАКАЛАВР ГОЛОВАСТИКОВЕДЕНИЯ</textarea>
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="userExperience">Опыт работы</label>
            <textarea class="form-control" rows="4" id="userExperience" style="color:#000;">Астраханская государственная библиотека – администратор базы данных, системный архитектор, 2018-2020
Астра - инжиниинг, системный интегратор – младший разработчик 2016– 2018</textarea>
          </div>
          <div class="form-group pb-3">
            <label class="mb-2 text-dark" for="userPortfolio">Ссылка на портфолио</label>
            <input class="form-control" type="text" placeholder="http://anylink.github.io" id="userPortfolio">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Сохранить">
          </div>
        </form>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>