<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Вакансии компании | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4 font-weight-bold" href="#">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Вакансии</a>
          </li>

        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Иван Топорыжкин
              </button>
              <div class="dropdown-menu dropdown-menu-right mt-3">
                <a href="#" class="dropdown-item py-2">Профиль</a>
                <a href="#" class="dropdown-item py-2">Резюме</a>
                <a href="#" class="dropdown-item py-2">Компания</a>
                <a href="#" class="dropdown-item py-2">Выйти</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="#">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="#">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
              <p class="alert alert-info" role="alert">Вакансия обновлена</p>
              <form action="/echo" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      <input class="form-control" type="text" value="Staffing Smarter" id="vacancyTitle">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                      <select class="custom-select mr-sm-2" id="userSpecialization">
                        <option selected>Backend разработка</option>
                        <option value="1">Frontend разработка</option>
                        <option value="2">Project manager</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalaryMin">Зарплата от</label>
                      <input class="form-control" type="text" value="90 000" id="vacancySalaryMin">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2" for="vacancySalaryMax">Зарплата до</label>
                      <input class="form-control" type="text" value="90 000" id="vacancySalaryMax">
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  <textarea class="form-control" rows="3" id="vacancySkills" style="color:#000;">Бэкенд • Средний (Middle) • PHP • PostgreSQL • MySQL • Node.js • Laravel • Symfony • Yii framework • Sails.js • Rabbitmq • Kafka</textarea>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  <textarea class="form-control" rows="13" id="vacancyDescription" style="color:#000;">Финтех компания входит в международную группу  и занимается развитием факторингового бизнеса. В связи с расширением штата, мы хотим усилить нашу команду Backend-разработчиком, для работы над улучшением продуктов компании.

Мы предлагаем:
Оформление по ТК РФ
ДМС со стоматологией
Достойную зарплату, уровень которой можно обсудить по телефону с рекрутером
Гибкое начало дня, отдельные дни удаленной работы обсуждаются
Современный офис
Демократичную корпоративную культуру
Работу в команде по Scrum
                  </textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
              <!-- END Vacancy info -->
              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - 2</h2>
              <!-- Application 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">Семёнов Зельфик Геннадиевич</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">+7 (900) 284-23-24</a></p>
                  <p class="mb-1">Я&nbsp;хотел&nbsp;бы работать в&nbsp;компании &laquo;АБВГД&raquo; программистом мобильных приложений. Мой опыт работы в&nbsp;программировании около 4&nbsp;лет (последние 1,5 года занимаюсь разработкой приложений.</p>
                </div>
              </div>
              <!-- END Application 1 -->
              <!-- Application 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">Сорокина Акра Павловна</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">+7 (900) 284-23-24</a></p>
                  <p class="mb-1">Добрый день! Увидела объявление о&nbsp;вашей вакансии. Заранее благодарю Вас за&nbsp;уделенное моей кандидатуре время. С&nbsp;уважением.</p>
                </div>
              </div>
              <!-- END Application 1 -->
              <!-- END Applications -->
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>