<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Вакансии компании | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4 font-weight-bold" href="#">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Вакансии</a>
          </li>

        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Иван Топорыжкин
              </button>
              <div class="dropdown-menu dropdown-menu-right mt-3">
                <a href="#" class="dropdown-item py-2">Профиль</a>
                <a href="#" class="dropdown-item py-2">Резюме</a>
                <a href="#" class="dropdown-item py-2">Компания</a>
                <a href="#" class="dropdown-item py-2">Выйти</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="#">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="#">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="#" class="mb-1">Backend-разработчик</a>
                      <p class="mb-1">
                        <span class="mr-4">120  000</span><a href="#" class="text-info">3 отклика</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="#" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END vacancy state 1 -->
              <!-- vacancy state 2 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="#" class="mb-1">Backend-разработчик</a>
                      <p class="mb-1">
                        <span class="mr-4">90  000</span><span class="text-muted">Нет откликов</span>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="#" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END vacancy state 2 -->
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>