<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" href="#">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="#">Вакансии</a>
          </li>

        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <a href="#" class="nav-link font-weight-bold">Вход</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Вакансии для <br>Junior-разработчиков</strong></h1>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <form class="form-inline mb-3" enctype="multipart/form-data">
            <div class="form-group col-8 col-md-10 pl-0">
              <input class="form-control w-100" type="search" placeholder="Найти работу или стажировку" aria-label="Найти работу или стажировку">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-primary w-100" type="submit">Найти</button>
            </div>
          </form>
          <p>Например: 
            <a href="#" class="text-dark border-bottom border-dark m-1 text-decoration-none">Python</a> 
            <a href="#" class="text-dark border-bottom border-dark m-1 text-decoration-none">Flask</a> 
            <a href="#" class="text-dark border-bottom border-dark m-1 text-decoration-none">Django</a> 
            <a href="#" class="text-dark border-bottom border-dark m-1 text-decoration-none">Парсинг</a> 
            <a href="#" class="text-dark border-bottom border-dark m-1 text-decoration-none">ML</a> 

          </p>
        </div>
      </div>
    </section>

    <section class="mt-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Вакансии по рубрикам</h2>
      <div class="row mb-0">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Фронтенд</p>
              <p class="card-text"><a href="#">5 вакансий</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Бэкенд</p>
              <p class="card-text"><a href="#">3 вакансии</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Геймдев</p>
              <p class="card-text"><a href="#">5 вакансий</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Девопс</p>
              <p class="card-text"><a href="#">7 вакансий</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Дизайн</p>
              <p class="card-text"><a href="#">2 вакансии</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Бэкенд</p>
              <p class="card-text"><a href="#">1 вакансия</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Менеджмент</p>
              <p class="card-text"><a href="#">3 вакансии</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">Тестирование</p>
              <p class="card-text"><a href="#">5 вакансий</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
      <div class="row mb-0">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="../static/logo2.png" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">5 вакансий</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="../static/logo3.png" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">3 вакансии</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="../static/logo4.png" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">5 вакансий</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="../static/logo5.png" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">7 вакансий</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-5 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="../static/logo6.png" width="150" height="80" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">2 вакансии</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-5 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block m-100" src="../static/logo7.png" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">1 вакансия</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-5 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block m-100" src="../static/logo8.png" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">3 вакансии</a></p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-5 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block" src="../static/logo1.png" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">5 вакансий</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>