<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Вакансия | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4 font-weight-bold" href="#">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="#">Вакансии</a>
          </li>

        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <a href="#" class="nav-link font-weight-bold">Вход</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="#">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="#"><img src="https://place-hold.it/130x80" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >Backend-разработчик</h1>
            <p class="m-0 pl-3">120 000 – 220 000 Р</p>
          </div>
          <p class="mt-2">Бэкенд • Средний (Middle) • PHP • PostgreSQL • MySQL • Node.js • Laravel • Symfony • Yii framework • Sails.js • Rabbitmq • Kafka</p>
          <p class="text-muted mb-4">Primal Assault (15-30 человек), Рязань или удаленно</p>
          <div style="line-height: 1.8;">
            <p>Финтех компаниявходит в международную группу  и занимается развитием факторингового бизнеса. В связи с расширением штата, мы хотим усилить нашу команду Backend-разработчиком, для работы над улучшением продуктов компании.</p>
            <p><b>Мы предлагаем: </b><br>
              Оформление по ТК РФ<br>
              ДМС со стоматологией<br>
              Достойную зарплату, уровень которой можно обсудить по телефону с рекрутером<br>
              Гибкое начало дня, отдельные дни удаленной работы обсуждаются<br>
              Современный офис<br>
              Демократичную корпоративную культуру<br>
              Работу в команде по Scrum
            </p>
            <p><b>Какая работа тебя ждет: </b><br>
              Написание бизнес-логики по ТЗ от аналитиков<br>
              Вынесение общий логики в базовые сервисы<br>
              Интеграция с внешними системами, рефкторинг.
            </p>
            <p><b>Кого мы ищем: </b><br>
              Опытного разработчика на C# (от 3х лет)<br>
              Хорошие знания: ASP.Net MVC, EF CodeFirst, MS SQL, AutoFac (или другой IoC), RabbitMq <br>
              Навыки проектирования и рефакторинга доменной модели <br>
              git, gitflow, bitBucket, youTrack (или альтернативы)
            </p>
            <p><b>Будет отлично, если ты:</b><br>
              Имеешь опыт работы с ЭДО, электронными подписями<br>
              Kendo UI, SignalR, Vue.js, Azure Service Fabric, Team City, Octopus Deploy<br>
              Опыт в CQRS, Event Sourcing, построение приложений на NServiceBus/MassTransit<br>
              Опыт работы в команде по Scrum
            </p>
          </div>
          <form action="/echo" class="card mt-4 mb-3" enctype="multipart/form-data">
            <div class="card-body mx-3">
              <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
              <div class="form-group">
                <label class="mb-1 mt-2" for="userName">Вас зовут</label>
                <input class="form-control" type="text" placeholder="" id="userName">
              </div>
              <div class="form-group">
                <label class="mb-1" for="userPhone">Ваш телефон</label>
                <input class="form-control" type="tel" placeholder="" id="userPhone">
              </div>
              <div class="form-group">
                <label class="mb-1" for="userMsg" >Сопроводительное письмо</label>
                <textarea class="form-control" rows="8" id="userMsg"></textarea>
              </div>
              <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
            </div>
          </form>
        </section>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>