{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">
  <h1 class="display-5 mt-4">Летим {{ base.departures[city_from] }}</h1>
    <p class="mb-4">Найдено {{ stats.count }} туров, от {{ stats.min_price }} до {{ stats.max_price }}
    и от {{ stats.min_nights }} ночей до {{ stats.max_nights }} ночей</p>
 <!-- CARDS -->
  <div class="row mt-5">
    {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{ tour.picture }}" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(200) }}</p>
            <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
