{% extends "base.html" %}

{% block content %}
<main class="container mt-3">
  <!-- HERO -->
  <section class="jumbotron text-center mt-4">
    <h1 class="display-4">Всякие туры</h1>
    <p class="lead">Для тех, кого отвлекают дома</p>
    <p class="mt-5 w-50 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>
  </section>
  <!-- CARDS -->
  <div class="row mt-5">
    {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{ tour.picture }}" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(200) }}</p>
            <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
