{% extends 'base.html' %}

{% block content %}
<main class="container">
  <section class="mt-3 pb-5">
    <h1 class="display-3 mt-4">{{ tour.title }} {{ tour.stars }} ★</h1>
    <!-- HERO -->
    <p class="lead">{{ tour.country }} {{ base.departures[tour.departure] }} {{ tour.nights }} ночей</p>
    <img src="{{ tour.picture }}" class="w-75" alt="{{ tour.title }}">
    <p class="my-4 w-75">{{ tour.description }}</p>
    <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour.price }}</a>
  </section>
</main>
{% endblock %}
